{
  "singleQuote": true,
  "importOrder": ["^@\\w+/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "trailingComma": "all"
}
