.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #7aa2f7;
  a {
    color: #7aa2f7;
    &:hover {
      cursor: pointer;
    }
  }
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 900px;
}

.install {
  margin: 1em 0 2em;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}
